<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SMU ANLY482 Team HealthTics Application">
    <meta name="author" content="HealthTics">
    <title>Ken-Assignment 1</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="lib/styles/bootstrap.min.css">
    <!-- build:css styles/vendor.css -->
    <!--   <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' /> -->
    <!-- build:js scripts/vendor.js -->
    <script src="lib/scripts/leaflet.js"></script>
    <script src="bower_components/proj4/dist/proj4.js"></script>
    <script src="bower_components/proj4leaflet/src/proj4leaflet.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="lib/scripts/bootstrap.min.js"></script>
    <script src="lib/metro-ui/docs/js/metro.js"></script>
    <!-- bower:js -->
    <script src="bower_components/topojson/topojson.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="/bower_components/papaparse/papaparse.js"></script>
    <script src="lib/Leaflet-awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="lib/jquery-form/jquery.form.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <!-- geocoding -->
    <link rel="stylesheet" href="lib/geocode/Control.Geocoder.css" />
    <script src="lib/geocode/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="lib/styles/leaflet.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/Leaflet-awesome-markers/dist/leaflet.awesome-markers.css">
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <link rel="stylesheet" href="/lib/metro-ui/docs/css/metro.css">
    <link rel="stylesheet" href="/lib/metro-ui/docs/css/metro-icons.css">
    <link rel="stylesheet" href="/lib/metro-ui/docs/css/metro-responsive.css">
    <link rel="stylesheet" href="/lib/metro-ui/docs/css/metro-schemes.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <end -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- endbuild -->

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Assingment 1</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/UserGuide.html">User Guide</a>
                        </li>
                        <li>
                            <a href="/Contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-2 portfolio-item">
                    <h3>
                    <a href="#">Layers Settings</a>

                </h3>
                    <button type="button" class="btn btn-info button-accordion" data-toggle="collapse" data-target="#uploadLayer">
                        Upload Layer
                    </button>
                    <div id="uploadLayer" class="collapse collapse-part">
                        <form id="convert" action="https://ogre.adc4gis.com/convert" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <!-- <legend>Convert to GeoJSON</legend> -->
                            <div class="control-group">
                                <label for="upload" class="control-label">File*:</label>
                                <!-- <label for="targetSrs" class="control-label">Source</label> -->
                                <!-- <div class="controls">
                                <input>
                            </div> -->
                                <div class="controls">
                                    <input id="upload" type="file" name="upload" accept=".csv,.zip,.dgn,.bna,.json,.geojson,.kml,.kmz,.gpx,.gmt,.gml">
                                    <a class="top" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Please refer to the accepted file extension at User Guide or http://ogre.adc4gis.com/"> <img src="/images/question-mark.png" alt="questionmark" style="width:15px;height:15px;"></a>
                                </div>
                                <label for="upload" class="control-label">
                                    Target Projection
                                </label>
                                <input type="text" id="targetSrs" name="targetSrs" value="EPSG:3414" style="width:100px">
                                <div class="control-group">
                                    <div class="controls">
                                        <input id="button" type="submit" value="Submit">
                                        </p>
                                    </div>
                                </div>
                        </form>
                        </div>
                    </div>
                    <!-- Change Marker -->
                    <button type="button" class="btn btn-info button-accordion" data-toggle="collapse" data-target="#changeMarker">
                        Change Marker
                    </button>
                    <div id="changeMarker" class="collapse collapse-part">
                        <form id="changeMarkerForm">
                            <fieldset class="form-group">
                                <label>Layer</label>
                                <select id="layerselection" name="layerselection"> </select>
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Color</label>
                                <select type="text" id="markercolor" name="holdercolor">
                                </select>
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Icon</label>
                                <input type="text" name="iconcolor" placeholder="car" style="width:100px">
                                <!-- <a href="https://fortawesome.github.io/Font-Awesome/icons/"> -->
                                <!-- <a href="/" data-toggle="tooltip" title="Hooray!">
                                    <img src="/images/question-mark.png" alt="questionmark" style="width:15px;height:15px;">
                        
                                </a> -->
                                <a class="top" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Please follow icon name at https://fortawesome.github.io/Font-Awesome/icons/"> <img src="/images/question-mark.png" alt="questionmark" style="width:15px;height:15px;"></a>
                               
                            </fieldset>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <!-- Change Marker -->
                    <!-- Table of nearest outlet -->
                    <button type="button" class="btn btn-info button-accordion" data-toggle="collapse" data-target="#luckyoutlet">
                        Lucky Outlet Nearby
                    </button>
                    <div id="luckyoutlet" class="collapse collapse-part">
                        <form id="outletNearby">
                            <fieldset class="form-group">
                                <label>PostalCode</label>
                                <input type="text" name="postalcode" value="560615" style="width:60px">
                                 <a class="top" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Enter Postal Code without Prefix S. E.g: 650667" alt="questionmark" style="width:15px;height:15px;"></a>
                            </fieldset>
                        <input type="submit" value="Submit">

                        </form>
                    </div>
                    <!-- Table of nearest outlet -->
                </div>
                <!-- Display Map -->
                <div class="col-md-8 portfolio-item">
                    <h3>
                    <a href="#">Map</a>
                </h3>
                    <div class="map-application">
                        <div id="map" class="map"></div>
                        <table id="properties"></table>
                    </div>
                </div>
                <!-- Display Map -->
            </div>
            <hr>
            <!-- Footer -->
        </div>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
 <script type="text/javascript">
                                $('a').tooltip();
                                </script>
</html>
